.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__btn {
    max-width: 180px;
    width: 100%;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 21px;
    text-transform: uppercase;
    padding: 0.25rem .4rem;
    cursor: pointer;
    overflow: hidden;
    transition: .1s linear;
    outline: none;
    z-index: 10;
    &_game {
      position: absolute;
      right: 1.7rem;
      top: 1.7rem;
    }
    &:hover {
      color: darkorange;
    }
    &:not(:last-child) {
      margin-bottom: .3rem;
    }
  }
}