.square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__info {
    &-title {
      margin-bottom: 1rem;
    }
    &-text {
      color: white;
      font-size: 21px;
      letter-spacing: 1px;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    margin-bottom: 1rem;
  }
  &__field {
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }
}